@use "../../variables.scss" as var;

.invitation {
  padding: 26px 20px;
  display: flex;
  align-items: center;
  gap: 2px;

  @media (min-width: var.$tablet-width) {
    padding: 56px 70px;
    justify-content: space-between;
    gap: 0;
  }
}

.invitation--background {
  background-color: #f2f2f2;
}

.invitation__text {
  display: block;
  line-height: 20px;
  padding-right: 30px;
  width: calc(100% / 2 - 1px);
  margin: 0;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    width: min-content;
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  width: calc(100% / 2 - 1px);
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: var.$tablet-width) {
    text-align: right;
    font-size: 16px;
  }
}
