@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.invitation {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 2px;

  @media (min-width: var.$tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    gap: 0;
  }

  @media (min-width: var.$desktop-width) {
    justify-content: space-between;
    align-content: center;
    gap: 0;
    background-color: var.$white;
  }

  &--background {
    background-color: #f2f2f2;

    @media (min-width: var.$desktop-width) {
      background-color: var.$white;
    }
  }
}

.invitation__text {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding-right: 15px;
  width: min-content;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    width: min-content;
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  max-width: 50%;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: var.$tablet-width) {
    width: 30%;
    text-align: right;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: var.$desktop-width) {
    width: 39%;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}

.invitation__adress-lines {
  @media (min-width: var.$tablet-width) {
    &:first-child {
      transform: translateY(-4px);
    }
  }
}
