@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.selection-form__fieldsets-grouped {
  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet--form;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop(69px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.selection-form__fieldset {
  width: 100%;
}

.selection-form__content-group {
  box-sizing: border-box;

  @media (min-width: var.$desktop-width) {
    width: 100%;
    padding: 0 110px 60px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}
