@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.accented-group {
  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    top: 14px;
    left: 30%;
    right: 0;
    background-color: var.$brand-color;
    z-index: -2;

    @media (min-width: var.$tablet-width) {
      top: 21px;
      left: 0;
    }
  }
}
