@use "../variables.scss" as var;

.page__body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var.$text-common;
  text-align: left;
  margin: 0;

  @media (min-width: var.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
