@use "../variables.scss" as var;

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var.$text-invert;
  background-color: var.$brand-color;
  border: none;

  &:hover {
    background-color: var.$brand-color-darkened;
  }

  &:active {
    background-color: var.$brand-color-darkened;
    color: rgba(var.$text-invert, 0.3);
  }

  &--secondary {
    color: var.$text-common;
    background-color: var.$brand-background;

    &:hover {
      background-color: var.$brand-background-darkened;
    }

    &:active {
      color: rgba(var.$text-special, 0.3);
    }
  }
}
