@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;


.content-wrapper {
  position: relative;

  @include mixvar.cup-mobile();
  background-color: inherit;

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet();
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop();
  }

  &--main-footer {
    padding-bottom: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;

    @media (min-width: var.$tablet-width) {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media (min-width: var.$tablet-width) {
      padding-top: 60px;
    }
  }

  &--hero {
    padding: 0 20px 20px 20px;

    @media (min-width: var.$tablet-width) {
      flex-direction: column;
      justify-content: space-between;
      padding: 44px 30% 526px 120px;
    }

    @media (min-width: var.$desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      padding: 72px 500px 185px 130px;
    }
  }

  &--programs {
    padding-bottom: 20px;

    @media (min-width: var.$tablet-width) {
      padding-bottom: 44px;
    }

    @media (min-width: var.$desktop-width) {
      padding-top: 82px;
      margin-bottom: 27px;
    }
  }

  &--workflow {
    padding-bottom: 49px;

    @media (min-width: var.$tablet-width) {
      padding-bottom: 44px;
    }

    @media (min-width: var.$desktop-width) {
      padding-bottom: 70px;
    }
  }

  &--live-sample {
    padding-bottom: 40px;

    @media (min-width: var.$tablet-width) {
      padding-bottom: 100px;
    }

    @media (min-width: var.$desktop-width) {
      padding-bottom: 75px;
    }
  }

  &--adress {
    @include mixvar.cup-mobile(26px, 26px);

    @media (min-width: var.$tablet-width) {
      @include mixvar.cup-tablet(61px, 60px);
    }

    @media (min-width: var.$desktop-width) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      @include mixvar.cup-desktop(107px, 95px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }
}
