@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.fieldset {
  box-sizing: border-box;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: var.$tablet-width) {
    // padding: 0 70px 72px;
  }

  &--decorated {
    @media (max-width: var.$mobile-width-only) {
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      margin-bottom: 30px;
    }
    @media (min-width: var.$tablet-width) and (max-width: var.$desktop-width - 1px ) {
      @include mixvar.cup-tablet;
    }
 }

  &--submit {
    @include mixvar.cup-mobile;
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    padding-bottom: 32px;

    @media (min-width: var.$tablet-width) {
      @include mixvar.cup-tablet;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }

    @media (min-width: var.$desktop-width) {
      @include mixvar.cup-desktop;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
  }

  &--grouped {
    padding: 0;
    flex-grow: 1;
  }
}

.fieldset__content {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  gap: 14px;

  &--registration {
    @media (max-width: var.$mobile-width-only) {
      @include mixvar.cup-mobile;
    }

    @media (min-width: var.$tablet-width) and (max-width: var.$desktop-width - 1px ) {
      @include mixvar.cup-tablet;
    }
  }

  &--contacts {
    @include mixvar.cup-mobile;


    @media (min-width: var.$tablet-width) {
      gap: 20px;
      @include mixvar.cup-tablet;
    }

    @media (min-width: var.$desktop-width) {
      flex-direction: row;
      gap: 80px;
      padding: 0 110px 60px;
    }
  }

  &--comments {
    @include mixvar.cup-mobile;


    @media (min-width: var.$tablet-width) {
      @include mixvar.cup-tablet;
    }

    @media (min-width: var.$desktop-width) {
      @include mixvar.cup-desktop;
    }
  }
}

.fieldset__input-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.fieldset__label {
  @include mixvar.accented-text(16px, 18px, uppercase);
  width: max-content;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(20px, 30px, uppercase);
  }
}

.fieldset__input {
  flex-grow: 1;
  border: 1px solid var.$input-border;

  @include mixvar.accented-text(16px, 18px, uppercase);
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(20px, 30px, uppercase);
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  &--textarea {
    @include mixvar.accented-text(16px, 18px, uppercase);
    flex-grow: 1;
    padding-top: 9px;
    padding-right: 14px;
    padding-left: 14px;
    height: 150px;
  }
}

.fieldset__radio-list {
  @include mixvar.reset-list;

  @media (max-width: var.$mobile-width-only) {
    margin-top: 22px;
    @include mixvar.cup-mobile(22px);
  }

  @media (min-width: var.$tablet-width) {
    box-sizing: border-box;
    border: 1px solid var.$input-border;
    padding: 25px 30px;
  }

  @media (min-width: var.$desktop-width) {
    border: 1px solid var.$input-border;
    padding-left: 28px;
    padding-right: 28px;
    height: 100%;
  }
}

.fieldset__checkbox-list {
  @include mixvar.reset-list;
  @include mixvar.cup-mobile;

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (min-width: var.$tablet-width) {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }
}

.fieldset__legend {
  @include mixvar.cup-mobile(35px);

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet(76px);
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop(70px);
  }
}

.fieldset__legend-styling {
  position: relative;

  @include mixvar.accented-text(24px, 24px, none);

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(36px, 36px, none);
  }

  // background-color: red;
  // box-shadow: 20px 0 red, -20px 0 red;
}

.fieldset__submit-button {
  font-size: 14px;
  line-height: 26px;
  padding: 7px;

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
    padding: 13px;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 20px;
    padding: 13px;
  }
}

.fieldset__required-comment-text {
  margin: 0;
  padding: 0;
}
