@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;


.fieldset {
  box-sizing: border-box;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;

  &--accented::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    top: 14px;
    left: 30%;
    right: 0;
    background-color: var.$brand-color;
    z-index: -2;

    @media (min-width: var.$tablet-width) {
      top: 21px;
      left: 0;
    }
  }

  @media (min-width: var.$tablet-width) {
    // padding: 0 70px 72px;
  }

  &--decorated {
    @media (max-width: var.$mobile-width-only) {
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      margin-bottom: 30px;
    }

    @media (min-width: var.$tablet-width) and (max-width: (var.$desktop-width - 1px)) {
      // @include mixvar.cup-tablet--form;
    }
  }

  &--submit {
    @include mixvar.cup-mobile(32px);
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;

    @media (min-width: var.$tablet-width) {
      @include mixvar.cup-tablet--form;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }

    @media (min-width: var.$desktop-width) {
      @include mixvar.cup-desktop;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
  }

  &--grouped {
    padding: 0;
    flex-grow: 1;
  }
}

.fieldset__content {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  gap: 14px;

  &--registration {
    @media (max-width: var.$mobile-width-only) {
      @include mixvar.cup-mobile;
    }

    @media (min-width: var.$desktop-width) {
      gap: 20px;
    }
  }

  &--contacts {
    @include mixvar.cup-mobile;

    @media (min-width: var.$tablet-width) {
      gap: 20px;

      @include mixvar.cup-tablet--form;
    }

    @media (min-width: var.$desktop-width) {
      @include mixvar.cup-desktop(60px);
      flex-direction: row;
      gap: 80px;
    }
  }

  &--comments {
    @include mixvar.cup-mobile;


    @media (min-width: var.$tablet-width) {
      @include mixvar.cup-tablet--form;
    }

    @media (min-width: var.$desktop-width) {
      @include mixvar.cup-desktop;
    }
  }
}

.fieldset__input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
}

.fieldset__label {
  cursor: pointer;

  @include mixvar.accented-text(16px, 18px, uppercase);
  width: max-content;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(20px, 30px, uppercase);
  }

  &--radio,
  &--checkbox {
    display: flex;
    position: relative;
    align-items: center;

    &::before {
      display: inline-block;
      content: "";
      width: 30px;
      height: 30px;
      margin-right: 15px;
      border: 1px solid var.$input-border;

      @media (min-width: var.$tablet-width) {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
    }
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio:hover::before,
  &--checkbox:hover::before {
    border-color: var.$input-border-hover;
  }
}

.fieldset__input {
  flex-grow: 1;
  border: 1px solid var.$input-border;

  @include mixvar.accented-text(16px, 18px, uppercase);
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(20px, 30px, uppercase);
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  &--textarea {
    @include mixvar.accented-text(16px, 18px, uppercase);
    flex-grow: 1;
    padding-top: 9px;
    padding-right: 14px;
    padding-left: 14px;
    height: 150px;
  }

  &:hover {
    border-color: var.$input-border-hover;
  }

  &:active,
  &:focus {
    outline: 2px solid var.$input-border-focus;
    outline-offset: -2px;
    // border: 2px solid red;
  }

  &--error {
    outline: 2px solid var.$error;
    outline-offset: -2px;
  }
}

.fieldset__input-icon {
  position: absolute;
  right: 17px;
  color: var.$input-icon-stroke;
}

.fieldset__input--error + .fieldset__input-icon {
  color: var.$error;
}

.fieldset__input-container:focus-within .fieldset__input-icon {
  color: var.$brand-color;
}

.fieldset__radio-list {
  @include mixvar.reset-list;

  @media (max-width: var.$mobile-width-only) {
    @include mixvar.cup-mobile(19px, 22px);
  }

  @media (min-width: var.$tablet-width) {
    box-sizing: border-box;
    border: 1px solid var.$input-border;
    padding: 25px 30px;
  }

  @media (min-width: var.$desktop-width) {
    border: 1px solid var.$input-border;
    padding-left: 28px;
    padding-right: 28px;
    height: 100%;
  }
}

.fieldset__radio-list-item + .fieldset__radio-list-item {
  padding-top: 13px;
}

.fieldset__checkbox-list {
  @include mixvar.reset-list;
  @include mixvar.cup-mobile;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet--form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (min-width: var.$tablet-width) {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }
}

.fieldset__radio,
.fieldset__checkbox {
  appearance: none;
  position: absolute;
}

.fieldset__radio:checked + .fieldset__label::after,
.fieldset__checkbox:checked + .fieldset__label::after {
  position: absolute;
  display: inline-block;
  content: "";
  transform: translate(-50%, -50%);
  top: 15px;
  left: 15px;

  @media (min-width: var.$tablet-width) {
    top: 20px;
    left: 20px;
  }
}

.fieldset__radio:checked + .fieldset__label::after {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var.$brand-color;

  @media (min-width: var.$tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.fieldset__checkbox:checked + .fieldset__label::after {
  width: 18px;
  height: 14px;
  background: url("../img/check-sign.svg") no-repeat center / contain;

  @media (min-width: var.$tablet-width) {
    width: 24px;
    height: 19px;
  }
}

.fieldset__radio:disabled + .fieldset__label,
.fieldset__checkbox:disabled + .fieldset__label {
  opacity: 0.3;
  pointer-events: none;
}

.fieldset__radio:disabled + .fieldset__label::before,
.fieldset__checkbox:disabled + .fieldset__label::before {
  border-color: var.$input-border-hover;
}

.fieldset__radio-list-item:focus-within .fieldset__label::before,
.fieldset__checkbox-list-item:focus-within .fieldset__label::before {
  outline: 2px solid var.$input-border-focus;
}

.fieldset__legend {
  @include mixvar.cup-mobile(35px);

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet--form(76px);
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop(70px);
  }
}

.fieldset__legend-styling {
  position: relative;

  &--kludge {
    @media (max-width: 389px) {
      display: block;
      width: min-content;
    }
  }

  @include mixvar.accented-text(24px, 24px, none);

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(36px, 36px, none);
  }

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var.$white;
    z-index: -1;
    box-shadow: 20px 0 var.$white, -38px 0 var.$white;

    @media (min-width: var.$tablet-width) {
      box-shadow: 40px 0 var.$white, -40px 0 var.$white;
    }
  }
}

.fieldset__submit-button {
  font-size: 14px;
  line-height: 26px;
  padding: 7px;

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
    padding: 13px;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 20px;
    padding: 13px;
  }
}

.fieldset__required-comment-text {
  margin: 0;
  padding: 0;
}
