@use "../variables.scss" as var;

.htmlacademy-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: #666666;

  &--extended {
    @media (max-width: var.$mobile-width-only) {
      justify-content: space-between;
    }
  }
}

.htmlacademy-logo:hover {
  color: var.$brand-color;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}

.htmlacademy-logo__text {
  font-size: 16px;
  line-height: 19px;
  width: max-content;
  margin: 0;
  color: #444444;
  text-decoration: inherit;
}

.htmlacademy-logo:hover .htmlacademy-logo__text {
  color: var.$text-special;
  text-decoration: inherit;
}
