@use "../variables.scss" as var;

.infographics {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 110px;
  gap: 20px;
  background-color: inherit;

  @media (min-width: var.$tablet-width) {
    max-width: 100%;
    justify-content: unset;
    gap: 0;
    background-color: var.$white;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 366px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 152px;
    gap: 20px;
    background-color: var.$brand-background;
  }
}

.infographics__item {
  position: relative;
  display: flex;
  margin: auto;

  @media (min-width: var.$tablet-width) {
    display: inline;
    text-align: right;
    margin: auto 0 auto auto;
  }

  @media (min-width: var.$desktop-width) {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &--decoration {
    box-sizing: border-box;
    position: relative;
    width: 124px;
    height: 56px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    background-color: inherit;
    margin: 0;

    @media (min-width: var.$tablet-width) {
      margin-right: 42px;
      width: 162px;
      height: 72px;
    }

    @media (min-width: var.$desktop-width) {
      width: 162px;
      height: 72px;
      margin: 0;
    }
  }
}

.infographics__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }

  &--decoration {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
    position: absolute;
    background-color: inherit;
    padding-left: 15px;
    padding-right: 15px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: var.$tablet-width) {
      width: max-content;
      bottom: -6px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.infographics__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var.$text-special;
  text-transform: uppercase;
  white-space: pre;
  margin: 0;

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }

  &--decoration {
    font-size: 24px;
    line-height: 24px;
    margin: auto;
    transform: translateY(-2px);

    @media (min-width: var.$tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
  }
}
