@use "../variables.scss" as var;

.logo {
  align-self: flex-start;

  @media (min-width: var.$tablet-width) {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__logo-sign {
  height: 38px;

  @media (min-width: var.$tablet-width) {
    height: 55px;
    width: 60px;
  }

  @media (min-width: var.$desktop-width) {
    height: 65px;
    width: 70px;
  }
}

.logo__logo-sign-img {
  @media (min-width: var.$tablet-width) {
    height: 50px;
    width: 60px;
  }

  @media (min-width: var.$desktop-width) {
    height: 59px;
    width: 70px;
  }
}

.logo__logo-text {
  height: 18px;

  @media (max-width: var.$mobile-width-only) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
