@use "../variables.scss" as var;

.logo {
  align-self: flex-start;
  width: calc(50% + 60px);

  @media (min-width: var.$tablet-width) {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 12px;
  }

  @media (min-width: var.$desktop-width) {
    gap: 12px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__logo-sign {
  width: 34px;
  height: 38px;

  @media (min-width: var.$tablet-width) {
    height: 55px;
    width: 60px;
  }

  @media (min-width: var.$desktop-width) {
    margin-top: -4px; // pixel-perfect
    height: 68px;
    width: 72px;
  }
}

.logo__logo-text {
  height: 18px;

  @media (max-width: var.$mobile-width-only) {
    position: absolute;
    top: 49%;
    left: 50.15%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: var.$desktop-width) {
    margin-top: 2px;
    height: 22px;
    width: 118px;
  }
}
