@use "../variables.scss" as var;

.logo__logo-sign {
  display: inline-block;
}

.logo__logo-text {
  display: inline-block;

  @media (max-width: var.$mobile-width-only) {
    position: absolute;
    height: 18px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
