@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.main-header {
  @include mixvar.cup-mobile(17px, 10px);

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet(20px, 20px);
    // padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop(20px, 55px);
    box-sizing: border-box;
    // padding: 55px 110px 20px 110px;
    width: 100%;
  }

  &--index-page {
    @media (min-width: var.$desktop-width) {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      // transform: translateX(50%);
    }
  }
}

.main-header__logo-header-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media (max-width: var.$mobile-width-only) {
  //   padding: 10px 20px 17px 20px;
  // }
}

.main-header__nav-toggle {
  @media (min-width: var.$tablet-width) {
    display: none;
  }
}
