@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.main-nav {
  @media (max-width: var.$mobile-width-only) {
    border-bottom: 1px solid var.$decoration;

    &--opened {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 65px;
      z-index: 5;
    }

    &--closed {
      display: none;
    }

    &--no-js {
      display: block;
      position: relative;
      top: unset;
    }
  }

  @media (min-width: var.$desktop-width) {
    max-width: 48%;
  }
}

.main-nav__container {
  @media (min-width: var.$tablet-width) {
    padding-top: 18px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: var.$mobile-width-only) {
    background-color: var.$white;
  }

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 35px;
  }
}

.main-nav__item {
  @media (max-width: var.$mobile-width-only) {
    min-height: 66px;
    background-color: var.$white;
    border-top: 1px solid var.$decoration;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var.$text-common;
  cursor: pointer;

  @media (max-width: var.$mobile-width-only) {
    @include mixvar.cup-mobile(23px, 23px);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  @media (min-width: var.$tablet-width) {
    padding-top: 18px;
    padding-bottom: 7px;
    line-height: 24px;
    font-size: 18px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: var.$desktop-width) {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 8px;
  }

  &--index-page {
    @media (min-width: var.$desktop-width) {
      color: var.$text-invert;
    }
  }

  &--current {
    opacity: 0.3;
    pointer-events: none;

    @media (min-width: var.$tablet-width) {
      opacity: 1;
      border-bottom: 2px solid var.$brand-color;
    }
  }

  &--index-page-current {
    @media (min-width: var.$desktop-width) {
      padding-bottom: 6px;
      border-bottom: 2px solid var.$white;
    }
  }
}
