@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;
@forward "./main-footer/socials.scss";

.main-footer {
  margin-top: auto;
  background-color: var.$brand-background;
}

.main-footer__item--decorated {
  @media (max-width: var.$mobile-width-only) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__logo {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: var.$tablet-width) {
    width: 143px;
    height: 26px;
    margin-right: 37px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;

  @media (min-width: var.$tablet-width) {
    width: 142px;
    height: 26px;
  }
}

.main-footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$tablet-width) {
    width: fit-content;
  }
}

.main-footer__htmlacademy-logo {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: var.$tablet-width) {
    width: max-content;
    padding: 0;
    margin-left: 13px;
  }
}
