@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;
@forward "./product-card/description-table.scss";

.product-card {
  position: relative;
  box-sizing: border-box;
  min-height: 205px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "img title"
    "img description"
    "btn btn";
  align-items: stretch;

  @media (max-width: var.$mobile-width-only) {
    @include mixvar.cup-mobile(24px, 20px);
  }

  @media (min-width: var.$tablet-width) {
    box-sizing: border-box;
    width: 100%;
    padding: 0 36px 39px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 243px auto auto auto;
    grid-template-areas: "img" "title" "description" "btn";
    background: linear-gradient(to bottom, var.$white 81px, var.$brand-background 81px);
  }

  &--functional {
    min-height: calc(100% - 81px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 58px auto auto auto;
    grid-template-areas: "img" "title" "description" "btn";

    @media (min-width: var.$tablet-width) {
      align-self: stretch;
      height: calc(100% - 81px);
      margin-top: 81px;
      background: none;
      border: 1px solid var.$brand-background;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 160px auto 1fr auto;
      grid-template-areas: "img" "title" "description" "btn";
    }
  }

  &--functional::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    top: 25px;
    left: calc(50% - 1px);

    @media (min-width: var.$tablet-width) {
      height: 60px;
      top: 51px;
    }
  }

  &--functional::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    top: 25px;
    left: calc(50% - 1px);
    transform: rotate(90deg);

    @media (min-width: var.$tablet-width) {
      height: 60px;
      top: 51px;
    }
  }

  &--optional-goods {
    display: block;
    grid: none;
    box-sizing: border-box;
    min-width: 240px;
    min-height: unset;
    padding: 13px 0 18px;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: var.$tablet-width) {
      padding: 26px 36px 28px;
      min-height: fit-content;
      border: 1px solid #cdcdcd;
      border-top: none;
      background: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "title description" "btn btn";
      row-gap: 24px;
      align-items: baseline;
    }

    @media (min-width: var.$desktop-width) {
      padding: 15px 0 16px 0;
      display: grid;
      grid-template-columns: 284px 1fr 244px;
      grid-template-rows: none;
      grid-template-areas: "title description btn";
      gap: 40px;
      align-items: baseline;
      border-left: none;
      border-right: none;
    }
  }

  &--optional-goods:first-child {
    border-top: 1px solid #d9d9d9;
  }
}

.product-card__title {
  grid-area: title;
  text-align: left;

  @include mixvar.accented-text(16px, 20px, uppercase);
  text-decoration: none;
  color: var.$text-common;
  margin: 0 0 15px 0;
  padding: 0;

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0 50px 0 50px;
    margin-bottom: 19px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 23px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0;
    line-height: 21px;
  }

  &--functional {
    text-align: center;
    margin-bottom: 9px;

    @media (min-width: var.$tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: var.$desktop-width) {
      margin-bottom: 22px;
    }
  }

  &--optional-goods {
    line-height: 16px;
    margin-bottom: 13px;
    text-align: left;

    @media (min-width: var.$tablet-width) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0;
      padding: unset;
      text-align: left;
    }
  }
}

.product-card__title-br {
  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.product-card__description-table {
  grid-area: description;

  @include mixvar.reset-list;

  &--main-goods {
    margin-bottom: 21px;
  }

  @media (min-width: var.$tablet-width) {
    margin-bottom: 33px;
  }

  &--optional-goods {
    margin-bottom: 10px;

    @media (min-width: var.$tablet-width) {
      margin: 0;
    }
  }
}

.product-card__img {
  grid-area: img;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 48%;

  @media (min-width: var.$tablet-width) {
    width: unset;
    height: unset;
    top: 45%;
  }

  @media (min-width: var.$tablet-width) {
    top: 40%;
  }

  &--pp1 {
    top: 45%;

    @media (min-width: var.$tablet-width) {
      top: 50%;
    }

    @media (min-width: var.$desktop-width) {
      top: 47%;
    }
  }

  &--pp2 {
    @media (min-width: var.$tablet-width) {
      transform: translate(-50%, -43%);
    }

    @media (min-width: var.$desktop-width) {
      transform: translate(-50%, -50%) scale(100%, 95%);
    }
  }

  &--pp3 {
    top: 52.5%;

    @media (min-width: var.$tablet-width) {
      top: 50%;
    }

    @media (min-width: var.$desktop-width) {
      top: 47%;
    }
  }

  &--pp4 {
    @media (min-width: var.$tablet-width) {
      top: 45%;
    }

    @media (min-width: var.$desktop-width) {
      top: 41%;
    }
  }

  &--pp5 {
    top: 55%;

    @media (min-width: var.$tablet-width) {
      top: 50%;
    }

    @media (min-width: var.$desktop-width) {
      top: 47%;
    }
  }

  &--pp6 {
    @media (min-width: var.$tablet-width) {
      top: 45%;
    }

    @media (min-width: var.$desktop-width) {
      top: 40%;
    }
  }

  &--pp7 {
    top: 52.5%;

    @media (min-width: var.$tablet-width) {
      top: 50%;
    }

    @media (min-width: var.$desktop-width) {
      top: 47%;
    }
  }
}

.product-card__button {
  grid-area: btn;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  &--secondary {
    line-height: 25px;
    padding-top: 8px;
    padding-bottom: 8px;

    @media (min-width: var.$tablet-width) {
      padding-bottom: 5px;
    }
  }
}

.product-card__description {
  margin: 0 0 20px 0;
  grid-area: description;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 20px 0 20px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}
