@use "../variables.scss" as var;

.program {
  background-color: var.$brand-background;
}

.program__title {
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: var.$tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.program__desription {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 48px;
  }
}

.program__to-catalog-link {
  display: block;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var.$text-common;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: var.$tablet-width) {
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }
}
