@use "../variables.scss" as var;

.program {
  position: relative;
  background-color: var.$brand-background;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 49px;
    left: 47px;
    background-color: var.$brand-color;

    @media (min-width: var.$tablet-width) {
      width: 200px;
      height: 200px;
      transform: translate(50%, -50%);
      top: 192px;
      left: unset;
      right: 162px;
    }

    @media (min-width: var.$desktop-width) {
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
      top: 97px;
      left: 102px;
      right: unset;
    }
  }

  &::after {
    position: absolute;
    content: "";
    transform: translate(-50%, -50%) scale(25%);
    top: 46px;
    left: 48px;
    background: url("../../img/cat-icon-slim.svg")  no-repeat center;

    @media (min-width: var.$tablet-width) {
      transform: translate(50%, -50%);
      top: 178px;
      left: unset;
      right: 162px;
    }

    @media (min-width: var.$desktop-width) {
      transform: translate(-50%, -50%) scale(50%);
      top: 89px;
      left: 102px;
      right: unset;
    }
  }

  &--slim::after {
    width: 140px;
    height: 194px;
    background: url("../../img/cat-icon-slim.svg")  no-repeat center;
    top: 46px;
    left: 48px;


    @media (min-width: var.$tablet-width) {
      top: 178px;
      left: unset;
      right: 162px;
    }

    @media (min-width: var.$desktop-width) {
      top: 89px;
      left: 102px;
      right: unset;
    }
  }

  &--pro::after {
    width: 268px;
    height: 112px;
    top: 48px;
    left: 47px;
    background: url("../../img/cat-icon-pro.svg")  no-repeat center;

    @media (min-width: var.$tablet-width) {
      top: 190px;
      left: unset;
      right: 163px;
    }

    @media (min-width: var.$desktop-width) {
      top: 91px;
      left: 102px;
      right: unset;
    }
  }
}

.program__title {
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: var.$tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: var.$desktop-width) {
    padding-left: 160px;
    margin-bottom: 73px;
  }
}

.program__desription {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 23px;
  }
}

.program__to-catalog-link {
  display: block;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var.$text-common;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: var.$tablet-width) {
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    display: inline-block;
    content: "";
    width: 32px;
    height: 14px;
    margin-left: 15px;
    background: url("../../img/program-arrow.svg") no-repeat -8px/ contain;


    @media (min-width: var.$tablet-width) {
      // width: 30px;
      height: 18px;
      margin-left: 25px;
    }
  }

  &:hover::after {
    background: url("../../img/program-arrow.svg") no-repeat center / contain;

    @media (min-width: var.$tablet-width) {
      // width: 30px;
      height: 18px;
      margin-left: 25px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
