@use "../variables.scss" as var;

.program {
  position: relative;
  background-color: var.$brand-background;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 49px;
    left: 47px;
    background-color: var.$brand-color;

    @media (min-width: var.$tablet-width) {
      width: 200px;
      height: 200px;
      transform: translate(50%, -50%);
      top: 192px;
      left: unset;
      right: 161px;
    }

    @media (min-width: var.$desktop-width) {
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
      top: 97px;
      left: 102px;
      right: unset;
    }
  }

  &::after {
    position: absolute;
    content: "";
    transform: translate(-50%, -50%);

    @media (min-width: var.$tablet-width) {
      transform: translate(50%, -50%);
    }

    @media (min-width: var.$desktop-width) {
      transform: translate(-50%, -50%) scale(50%);
    }
  }

  &--slim::after {
    width: 36px;
    height: 50px;
    background: url("../img/sprite.svg#cat-icon-slim")  no-repeat center;
    top: 46px;
    left: 47px;


    @media (min-width: var.$tablet-width) {
      width: 140px;
      height: 194px;
      top: 178px;
      left: unset;
      right: 161px;
    }

    @media (min-width: var.$desktop-width) {
      top: 89px;
      left: 102px;
      right: unset;
    }
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    top: 49px;
    left: 47px;
    background: url("../img/sprite.svg#cat-icon-pro")  no-repeat center;

    @media (min-width: var.$tablet-width) {
      width: 268px;
      height: 112px;
      top: 191px;
      left: unset;
      right: 161px;
    }

    @media (min-width: var.$desktop-width) {
      top: 95px;
      left: 100px;
      right: unset;
    }
  }
}

.program__title {
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  color: var.$text-special;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: var.$tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: var.$desktop-width) {
    padding-left: 160px;
    margin-bottom: 73px;
  }
}

.program__desription {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 27px;
  }
}

.program__to-catalog-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var.$text-common;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: var.$tablet-width) {
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    display: inline-block;
    content: "";
    width: 32px;
    height: 12px;
    margin-left: 16px;
    background: url("../img/sprite.svg#program-arrow") no-repeat -8px/ contain;
    transition: 0.05s;


    @media (min-width: var.$tablet-width) {
      margin-left: 25px;
    }
  }

  &:hover::after {
    background: url("../img/sprite.svg#program-arrow") no-repeat center / contain;

    @media (min-width: var.$tablet-width) {
      margin-left: 25px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
