@use "../variables.scss" as var ;
@use "../mixins.scss" as mixvar ;
@forward "./promotion/promotion-card.scss";

.promotion__promotion-card {
  @include mixvar.cup-mobile;
  text-align: left;

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet;
  }

  @media (min-width: var.$desktop-width) {
    min-width: unset;
    padding: 0;
    height: 100%;
  }
}
