@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;
@forward "./section-address/invitation.scss";

.section-address {
  position: relative;
  background-color: var.$brand-background;

  &--alternate-background {
    background-color: var.$white;
  }

  @media (min-width: var.$desktop-width) {
    background-color: transparent;
  }
}

.section-address__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;


  @media (min-width: var.$tablet-width) {
    height: 400px;
  }
}

.section-address__invitation {
  @media (min-width: var.$desktop-width) {
    padding: 59px 80px;
  }
}
