@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.section-live-sample {
  background-color: var.$brand-background;
  padding: 25px 20px 40px 20px;

  @media (min-width: var.$tablet-width) {
    position: relative;
    background-color: var.$white;
    padding: 43px 30px 101px 30px;
  }
}

.section-live-sample::before {
  @media (min-width: var.$tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    background-color: var.$brand-background;
    left: 0;
    bottom: 0;
  }
}


.section-live-sample__title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(60px, 6px, none);
    margin-bottom: 63px;
  }
}

.section-live-sample__description {
  margin: 0;
  margin-bottom: 20px;
}

.section-live-sample__compare-slider-container {
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media (min-width: var.$tablet-width) {
    width: 590px;
    height: 512px;
  }
}
