@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.section-hero {
  position: relative;
  /* stylelint-disable unit-no-unknown, value-list-comma-newline-after, function-comma-newline-after */
  background: linear-gradient(var.$brand-color-85 60.4%, var.$white 60.4%),
    linear-gradient(to right, rgba(#3f3e43, 0) 66%,
    #3f3e43 71%) center / 1200px,
    image-set(
      url("../img/cat-hero-mobile@1x.webp") 1x,
      url("../img/cat-hero-mobile@1x.jpg") 1x,
      url("../img/cat-hero-mobile@2x.webp") 2x,
      url("../img/cat-hero-mobile@2x.jpg") 2x)
    no-repeat calc(50% - 30px) top / auto 302px,
    linear-gradient(#505155 302px, #505155 302px);
  /* stylelint-enable unit-no-unknown, value-list-comma-newline-after */

  @media (min-width: var.$tablet-width) {
    background: none;
    text-align: left;
  }

  &::after {
    @media (min-width: var.$desktop-width) {
      position: absolute;
      content: "";
      width: 100%;
      height: auto;
      top: -5000px;
      bottom: 0;
      /* stylelint-disable unit-no-unknown */
      background: linear-gradient(to left, var.$brand-color-85 50%, var.$white 50%),
        linear-gradient(to right, rgba(#3f3e43, 0) calc(50% + 800px), #3f3e43 calc(60% + 800px)),
        image-set(
          url("../img/cat-hero-desktop@1x.webp") 1x,
          url("../img/cat-hero-desktop@1x.jpg") 1x,
          url("../img/cat-hero-desktop@2x.webp") 2x,
          url("../img/cat-hero-desktop@2x.jpg") 2x)
        no-repeat left calc(520px + 50%) bottom / 1050px auto,
        linear-gradient(#505155 302px, #505155 302px);
      /* stylelint-enable unit-no-unknown */
      left: 0;
      z-index: -1;
    }
  }
}

.section-hero__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  text-align: inherit;
  color: var.$white;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: var.$mobile-width-only) {
    text-align: center;
    padding-top: 27px;
  }

  @media (min-width: var.$tablet-width) {
    color: inherit;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 550px;
    padding-top: 16px;
  }
}

.section-hero__subtitle {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  color: var.$white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (max-width: var.$mobile-width-only) {
    text-align: center;
  }

  @media (min-width: var.$tablet-width) {
    color: inherit;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 51px;
  }
}

.section-hero__image {
  // margin-bottom: 3px;
  display: block;
  margin: auto;
  margin-bottom: 3px;

  @media (min-width: var.$tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 250px;
    left: -1px;
  }

  @media (min-width: var.$desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 6px;
    left: 48.2%;
    transform: translateX(-25%);
  }
}

.section-hero__button {
  font-size: 14px;
  line-height: 26px;
  padding: 7px;
  z-index: 1;

  @media (min-width: var.$tablet-width) {
    position: relative;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px;
  }

  @media (min-width: var.$desktop-width) {
    line-height: 30px;
    padding: 12px;
  }
}
