@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.section-hero {
  background: linear-gradient(var.$brand-color-85 302px, var.$white 302px), linear-gradient(to right, rgba(#3f3e43, 0) 66%, #3f3e43 71%) center / 1200px, url("../../img/cat-hero-mobile.jpg") no-repeat calc(50% - 30px) top / auto 302px, linear-gradient(#505155 302px, #505155 302px);

  @media (min-resolution: 2dppx) {
    background: linear-gradient(var.$brand-color-85 302px, var.$white 302px), linear-gradient(to right, rgba(#3f3e43, 0) 66%, #3f3e43 71%) center / 1200px, url("../../img/cat-hero-mobile@2x.jpg") no-repeat calc(50% - 30px) top / auto 302px, linear-gradient(#505155 302px, #505155 302px);
  }

  @media (min-width: var.$tablet-width) {
    background: none;
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    background: linear-gradient(to left, var.$brand-color-85 50%, var.$white 50%), linear-gradient(to right, rgba(#3f3e43, 0) calc(50% + 800px), #3f3e43 calc(60% + 800px)), url("../../img/cat-hero-desktop.jpg") no-repeat left calc(450px + 55%) center / auto 105%, linear-gradient(#505155 302px, #505155 302px);
  }

  @media (min-width: var.$desktop-width) and (min-resolution: 2dppx) {
    background: linear-gradient(to left, var.$brand-color-85 50%, var.$white 50%), linear-gradient(to right, rgba(#3f3e43, 0) calc(50% + 800px), #3f3e43 calc(60% + 800px)), url("../../img/cat-hero-desktop@2x.jpg") no-repeat left calc(450px + 55%) center / auto 105%, linear-gradient(#505155 302px, #505155 302px);
  }
}

.section-hero__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  text-align: inherit;
  color: var.$white;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: var.$mobile-width-only) {
    text-align: center;
    padding-top: 27px;
  }

  @media (min-width: var.$tablet-width) {
    color: inherit;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 550px;
    padding-top: 84px;
  }
}

.section-hero__subtitle {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  color: var.$white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (max-width: var.$mobile-width-only) {
    text-align: center;
  }

  @media (min-width: var.$tablet-width) {
    color: inherit;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }
}

.section-hero__image {
  // margin-bottom: 3px;
  display: block;
  margin: auto;

  @media (min-width: var.$tablet-width) {
    position: absolute;
    height: 609px;
    top: 250px;
  }

  @media (min-width: var.$desktop-width) {
    position: absolute;
    height: 450px;
    top: 141px;
    left: 49%;
    transform: translateX(-25%);
  }
}

.section-hero__button {
  font-size: 14px;
  line-height: 26px;
  padding: 7px;
  z-index: 1;

  @media (min-width: var.$tablet-width) {
    position: relative;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px;
  }
}
