@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;
@forward "./section-workflow/workflow-item.scss";

.section-workflow {
  padding: 0 20px 49px 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 30px 49px 30px;
    border-bottom: 2px solid var.$decoration;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 110px 49px 110px;
    border-bottom: none;
  }
}

.section-workflow__title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(60px, 60px, none);
  }
}


.section-workflow__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: var.$tablet-width) {
    counter-reset: workflowCounter 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 39px;
    column-gap: 60px;
  }

  @media (min-width: var.$desktop-width) {
    counter-reset: workflowCounter 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }
}
