@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;
@forward "./section-selection-form/selection-form.scss";

.section-selection-form {
  padding-top: 27px;

  @media (max-width: var.$mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }
}

.section-selection-form__header {
  @include mixvar.cup-mobile(39px);

  @media (min-width: var.$tablet-width) {
    @include mixvar.cup-tablet--form(66px);
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop(66px);
  }
}

.section-selection-form__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(60px, 60px, none);
    margin-bottom: 55px;
  }
}

.section-selection-form__description {
  margin: 0;

  @include mixvar.accented-text(14px, 18px, uppercase);

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(20px, 30px, uppercase);
    width: 60%;
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.accented-text(20px, 30px, uppercase);
    width: 30%;
  }
}
