@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.section-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: var.$tablet-width) {
    gap: 29px;
  }

  @media (min-width: var.$desktop-width) {
    // @include mixvar.cup-desktop(50px, 82px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.section-programs__item {
  padding: 30px 20px 22px 20px;

  @media (min-width: var.$tablet-width) {
    padding: 77px 316px 58px 52px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 77px 52px 60px 52px;
  }
}
