@use "../variables.scss" as var;
@use "../mixins.scss" as mixvar;

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: var.$text-special;

  &--invert {
    @media (max-width: var.$mobile-width-only) {
      color: var.$white;
    }
  }
}

.title__link {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

.title--accented-group {
  position: relative;

  &--kludge {
    @media (max-width: 389px) {
      display: block;
      width: min-content;
    }
  }

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var.$white;
    z-index: -1;
    box-shadow: 20px 0 var.$white, -38px 0 var.$white;

    @media (min-width: var.$tablet-width) {
      box-shadow: 40px 0 var.$white, -40px 0 var.$white;
    }
  }
}
