@use "../../variables.scss" as var;

.socials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: var.$tablet-width) {
    max-width: 40%;
  }
}

.socials__item {
  display: flex;
  justify-content: center;
  width: 52px;
  height: 61px;

  @media (min-width: var.$tablet-width) {
    height: fit-content;
  }
}

.socials__link {
  width: 100%;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var.$brand-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__img {
  box-sizing: content-box;
  padding: 12px;
  height: 22px;
  width: 28px;
}
