@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.description-table__item {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  font-size: 12px;
  line-height: 16px;
}

.description-table__item--optional-goods {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
}

.description-table__description,
.description-table__value {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}
