@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.description-table__item {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  font-size: 12px;
  line-height: 16px;

  & + & {
    @media (min-width: var.$tablet-width) {
      padding-top: 7px;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  &--optional-goods {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;

    @media (min-width: var.$tablet-width) {
      margin-bottom: 0;
      border: none;
      padding-bottom: 0;
      display: grid;
      grid-template-columns: 1fr 88px;
      justify-items: end;
    }

    @media (min-width: var.$desktop-width) {
      margin-bottom: 0;
      border: none;
      padding-bottom: 0;
      display: flex;
      grid: none;
      // justify-items: end;
    }
  }
}

.description-table__description,
.description-table__value {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;

  @media (min-width: var.$tablet-width) {
    font-size: 16px;
  }
}
