@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.cards-wrapper {
  @include mixvar.reset-list;

  @media (max-width: var.$mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }


  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: end;
  }

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 66px 80px;
  }

  &--optional-goods {
    @media (min-width: var.$tablet-width) {
      display: flex;
      flex-direction: column;
      gap: 0;
      border-top: 1px solid #cdcdcd;
    }
  }
}

.cards-wrapper__product-card {
  @media (max-width: var.$mobile-width-only) {
    border-bottom: 1px solid #d9d9d9;
  }

  &--functional {
    height: 100%;
  }
}
