@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.catalog-optional-goods-and-promos {
  @media (max-width: var.$mobile-width-only) {
    padding-top: 25px;
  }
}

.catalog-optional-goods-and-promos__title {
  @include mixvar.cup-mobile(36px);
  display: block;
  position: relative;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: var.$tablet-width) {
    @include mixvar.accented-text(36px, 36px, none);
    @include mixvar.cup-tablet(80px);
  }

  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop;
  }
}

.catalog-optional-goods-and-promos__group {
  @media (min-width: var.$desktop-width) {
    @include mixvar.cup-desktop(86px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "goods goods goods promos";
    gap: 60px;
  }
}

.catalog-optional-goods-and-promos__optional-goods {
  padding-top: 0;

  @media (min-width: var.$tablet-width) {
    // fill
  }

  @media (min-width: var.$desktop-width) {
    padding: 0;
    grid-area: goods;
  }
}
