@use "../../variables.scss" as var;
@use "../../mixins.scss" as mixvar;

.optional-goods__cards-wrapper {
  @include mixvar.reset-list;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: var.$tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
