.page {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.page__body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}

.logo {
  align-self: flex-start;
}
@media (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__logo-sign {
  height: 38px;
}
@media (min-width: 768px) {
  .logo__logo-sign {
    height: 55px;
    width: 60px;
  }
}
@media (min-width: 1220px) {
  .logo__logo-sign {
    height: 65px;
    width: 70px;
  }
}

@media (min-width: 768px) {
  .logo__logo-sign-img {
    height: 50px;
    width: 60px;
  }
}
@media (min-width: 1220px) {
  .logo__logo-sign-img {
    height: 59px;
    width: 70px;
  }
}

.logo__logo-text {
  height: 18px;
}
@media (max-width: 767px) {
  .logo__logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.accented-group::before {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  top: 14px;
  left: 30%;
  right: 0;
  background-color: #68b738;
  z-index: -2;
}
@media (min-width: 768px) {
  .accented-group::before {
    top: 21px;
    left: 0;
  }
}

.content-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0 20px 25px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}
@media (min-width: 768px) {
  .content-wrapper {
    box-sizing: border-box;
    padding: 0 30px 76px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .content-wrapper {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
.content-wrapper--main-footer {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .content-wrapper--main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .content-wrapper--hero {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30% 526px 90px;
  }
}
@media (min-width: 1220px) {
  .content-wrapper--hero {
    flex-direction: row;
    justify-content: space-between;
    padding: 90px 500px 185px 80px;
  }
}
.content-wrapper--programs {
  padding-bottom: 45px;
}
@media (min-width: 1220px) {
  .content-wrapper--programs {
    padding-top: 82px;
  }
}
@media (min-width: 768px) {
  .content-wrapper--workflow {
    padding-bottom: 47px;
  }
}
@media (min-width: 1220px) {
  .content-wrapper--live-sample {
    padding-bottom: 75px;
  }
}
.content-wrapper--adress {
  box-sizing: border-box;
  padding: 26px 20px 26px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .content-wrapper--adress {
    box-sizing: border-box;
    padding: 60px 30px 56px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .content-wrapper--adress {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 95px 50px 107px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.htmlacademy-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: #666666;
}
@media (max-width: 767px) {
  .htmlacademy-logo--extended {
    justify-content: space-between;
  }
}

.htmlacademy-logo:hover {
  color: #68b738;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}

.htmlacademy-logo__text {
  font-size: 16px;
  line-height: 19px;
  width: max-content;
  margin: 0;
  color: #444444;
  text-decoration: inherit;
}

.htmlacademy-logo:hover .htmlacademy-logo__text {
  color: #444444;
  text-decoration: inherit;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.button--secondary:hover {
  background-color: #ebebeb;
}
.button--secondary:active {
  color: rgba(68, 68, 68, 0.3);
}

.main-footer {
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .main-footer__item--decorated {
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__logo {
  box-sizing: border-box;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__logo {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.main-footer__logo:hover {
  opacity: 0.6;
}
.main-footer__logo:active {
  opacity: 0.3;
}

.main-footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-footer__socials {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.socials {
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials__item {
  display: flex;
  justify-content: center;
  width: 52px;
  height: 63px;
}
@media (min-width: 768px) {
  .socials__item {
    height: -moz-fit-content;
    height: fit-content;
  }
}

.socials__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.socials__link:hover {
  color: #68b738;
}
.socials__link:active {
  opacity: 0.3;
}

.main-footer__htmlacademy-logo {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .main-footer__htmlacademy-logo {
    width: max-content;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main-header {
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .main-header {
    box-sizing: border-box;
    padding: 24px 30px 20px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1220px) {
  .main-header {
    box-sizing: border-box;
    padding: 53px 50px 20px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
  }
}
.main-header--index-page {
  border-bottom: unset;
}
@media (min-width: 1220px) {
  .main-header--index-page {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
  }
}

.main-header__logo-header-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .main-header__logo-header-container {
    min-height: 65px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    min-width: 280px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-header__nav-toggle {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: unset;
  border: none;
  cursor: pointer;
}
.main-header__nav-toggle--closed::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  top: 14px;
  left: 21px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-header__nav-toggle--opened::before, .main-header__nav-toggle--opened::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 22px;
  left: 21px;
  background-color: #000000;
}
.main-header__nav-toggle--opened::before {
  transform: rotate(45deg);
}
.main-header__nav-toggle--opened::after {
  transform: rotate(-45deg);
}
.main-header__nav-toggle--no-js {
  display: none;
}
@media (min-width: 768px) {
  .main-header__nav-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-nav {
    border-bottom: 1px solid #e6e6e6;
  }
  .main-nav--opened {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    z-index: 5;
  }
  .main-nav--closed {
    display: none;
  }
  .main-nav--no-js {
    display: block;
    position: relative;
    top: unset;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .main-nav__list {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
}

@media (max-width: 767px) {
  .main-nav__item {
    height: 66px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main-nav__link {
    box-sizing: border-box;
    padding: 23px 20px 23px 20px;
    min-width: 280px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-nav__link:hover {
    opacity: 0.6;
  }
  .main-nav__link:active {
    opacity: 0.3;
  }
}
@media (min-width: 1220px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 8px;
  }
}
@media (min-width: 1220px) {
  .main-nav__link--index-page {
    color: #ffffff;
  }
}
.main-nav__link--current {
  opacity: 0.3;
  pointer-events: none;
}
@media (min-width: 768px) {
  .main-nav__link--current {
    opacity: 1;
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1220px) {
  .main-nav__link--index-page-current {
    border-bottom: 2px solid #ffffff;
  }
}

.section-hero {
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), linear-gradient(to right, rgba(63, 62, 67, 0) 66%, #3f3e43 71%) center/1200px, url("../../img/cat-hero-mobile.jpg") no-repeat calc(50% - 30px) top/auto 302px, linear-gradient(#505155 302px, #505155 302px);
}
@media (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), linear-gradient(to right, rgba(63, 62, 67, 0) 66%, #3f3e43 71%) center/1200px, url("../../img/cat-hero-mobile@2x.jpg") no-repeat calc(50% - 30px) top/auto 302px, linear-gradient(#505155 302px, #505155 302px);
  }
}
@media (min-width: 768px) {
  .section-hero {
    background: none;
    text-align: left;
  }
}
@media (min-width: 1220px) {
  .section-hero {
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%), linear-gradient(to right, rgba(63, 62, 67, 0) calc(50% + 800px), #3f3e43 calc(60% + 800px)), url("../../img/cat-hero-desktop.jpg") no-repeat left calc(450px + 55%) center/auto 105%, linear-gradient(#505155 302px, #505155 302px);
  }
}
@media (min-width: 1220px) and (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%), linear-gradient(to right, rgba(63, 62, 67, 0) calc(50% + 800px), #3f3e43 calc(60% + 800px)), url("../../img/cat-hero-desktop@2x.jpg") no-repeat left calc(450px + 55%) center/auto 105%, linear-gradient(#505155 302px, #505155 302px);
  }
}

.section-hero__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  text-align: inherit;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .section-hero__title {
    text-align: center;
    padding-top: 27px;
  }
}
@media (min-width: 768px) {
  .section-hero__title {
    color: inherit;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1220px) {
  .section-hero__title {
    max-width: 550px;
    padding-top: 84px;
  }
}

.section-hero__subtitle {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
@media (max-width: 767px) {
  .section-hero__subtitle {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section-hero__subtitle {
    color: inherit;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }
}

.section-hero__image {
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .section-hero__image {
    position: absolute;
    height: 609px;
    top: 250px;
    left: -1px;
  }
}
@media (min-width: 1220px) {
  .section-hero__image {
    position: absolute;
    height: 450px;
    top: 141px;
    left: 48.4%;
    transform: translateX(-25%);
  }
}

.section-hero__button {
  font-size: 14px;
  line-height: 26px;
  padding: 7px;
  z-index: 1;
}
@media (min-width: 768px) {
  .section-hero__button {
    position: relative;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px;
  }
}

.compare-slider {
  --knob-position-limit: clamp(20px, var(--knob-position), 100% - 20px);
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--knob-position) 1fr;
}

.compare-slider__control-knob-group {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 0;
  width: 4px;
  height: 100%;
  background-color: #666666;
  color: #666666;
  border: none;
  border-radius: 2px;
  transform: translateX(-50%);
  margin-left: var(--knob-position-limit);
  z-index: 2;
}
.compare-slider__control-knob-group:hover {
  background-color: #68b738;
  color: #68b738;
}
.compare-slider__control-knob-group:active {
  background-color: #a0d77e;
  color: #a0d77e;
}

.compare-slider__control-knob {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  top: 50%;
  color: inherit;
}
.compare-slider__control-knob:hover {
  color: #68b738;
}
.compare-slider__control-knob:active {
  color: #a0d77e;
}

.compare-slider::before {
  grid-column: 1/2;
  grid-row: 1/-1;
  content: "";
  width: 100%;
  height: auto;
  background: url("../../../img/cat-before_mobile.png") no-repeat left/auto 100%;
}
@media (min-resolution: 2dppx) {
  .compare-slider::before {
    background: url("../../../img/cat-before-mobile@2x.png") no-repeat left/auto 100%;
  }
}
@media (min-width: 768px) {
  .compare-slider::before {
    background: url("../../../img/cat-before-xl.png") no-repeat left/auto 100%;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .compare-slider::before {
    background: url("../../../img/cat-before-xl@2x.png") no-repeat left/auto 100%;
  }
}

.compare-slider::after {
  grid-column: 2/-1;
  grid-row: 1/-1;
  content: "";
  width: 100%;
  height: auto;
  background: url("../../../img/cat-after-mobile.png") no-repeat right/auto 100%;
}
@media (min-resolution: 2dppx) {
  .compare-slider::after {
    background: url("../../../img/cat-after-mobile@2x.png") no-repeat right/auto 100%;
  }
}
@media (min-width: 768px) {
  .compare-slider::after {
    background: url("../../../img/cat-after-xl.png") no-repeat right/auto 100%;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .compare-slider::after {
    background: url("../../../img/cat-after-xl@2x.png") no-repeat right/auto 100%;
  }
}

.section-live-sample {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .section-live-sample {
    position: relative;
    background: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px);
  }
}
@media (min-width: 1220px) {
  .section-live-sample {
    position: relative;
  }
}

.section-live-sample__title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section-live-sample__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    padding-top: 43px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1220px) {
  .section-live-sample__title {
    position: relative;
    padding-top: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    margin-bottom: 146px;
    z-index: 1;
  }
}

.section-live-sample__description {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-live-sample__description {
    margin-bottom: 54px;
  }
}
@media (min-width: 1220px) {
  .section-live-sample__description {
    display: block;
    width: 460px;
    margin-bottom: 69px;
  }
}

.section-live-sample__infographics {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-live-sample__infographics {
    margin-bottom: 99px;
  }
}

.section-live-sample__compare-slider-container {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .section-live-sample__compare-slider-container {
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1220px) {
  .section-live-sample__compare-slider-container {
    margin: 0;
    position: absolute;
    top: 0;
    right: 110px;
  }
}

.section-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1220px) {
  .section-programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.section-programs__item {
  padding: 30px 20px 18px 20px;
}
@media (min-width: 768px) {
  .section-programs__item {
    padding: 77px 316px 52px 52px;
  }
}
@media (min-width: 1220px) {
  .section-programs__item {
    padding: 77px 52px 55px 52px;
  }
}

.workflow-item {
  position: relative;
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .workflow-item {
    counter-increment: workflowCounter 1;
    box-sizing: border-box;
    flex-direction: column;
    gap: 31px;
    padding: 40px 70px 40px 0;
    min-height: 280px;
  }
}
.workflow-item::before {
  flex-shrink: 0;
  content: "";
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .workflow-item::before {
    display: block;
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .workflow-item::after {
    content: counter(workflowCounter);
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 115px;
  }
}
.workflow-item--contents::before {
  background: #68b738 url("../../../img/workflow-icon-contents.svg") no-repeat center;
}
.workflow-item--powder::before {
  background: #68b738 url("../../../img/workflow-icon-powder.svg") no-repeat center;
}
.workflow-item--change::before {
  background: #68b738 url("../../../img/workflow-icon-change.svg") no-repeat center;
}
.workflow-item--result::before {
  background: #68b738 url("../../../img/workflow-icon-result.svg") no-repeat center;
}

.workflow-item__description {
  margin: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .section-workflow {
    border-bottom: 2px solid #e6e6e6;
  }
}
@media (min-width: 1220px) {
  .section-workflow {
    border-bottom: none;
  }
}

.section-workflow__title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section-workflow__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    margin-bottom: 32px;
  }
}

.section-workflow__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .section-workflow__list {
    counter-reset: workflowCounter 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 39px;
    column-gap: 60px;
  }
}
@media (min-width: 1220px) {
  .section-workflow__list {
    counter-reset: workflowCounter 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }
}

.program {
  position: relative;
  background-color: #f2f2f2;
}
.program::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 49px;
  left: 47px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .program::before {
    width: 200px;
    height: 200px;
    transform: translate(50%, -50%);
    top: 192px;
    left: unset;
    right: 162px;
  }
}
@media (min-width: 1220px) {
  .program::before {
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 97px;
    left: 102px;
    right: unset;
  }
}
.program::after {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%) scale(25%);
  top: 46px;
  left: 48px;
  background: url("../../img/cat-icon-slim.svg") no-repeat center;
}
@media (min-width: 768px) {
  .program::after {
    transform: translate(50%, -50%);
    top: 178px;
    left: unset;
    right: 162px;
  }
}
@media (min-width: 1220px) {
  .program::after {
    transform: translate(-50%, -50%) scale(50%);
    top: 89px;
    left: 102px;
    right: unset;
  }
}
.program--slim::after {
  width: 140px;
  height: 194px;
  background: url("../../img/cat-icon-slim.svg") no-repeat center;
  top: 46px;
  left: 48px;
}
@media (min-width: 768px) {
  .program--slim::after {
    top: 178px;
    left: unset;
    right: 162px;
  }
}
@media (min-width: 1220px) {
  .program--slim::after {
    top: 89px;
    left: 102px;
    right: unset;
  }
}
.program--pro::after {
  width: 268px;
  height: 112px;
  top: 48px;
  left: 47px;
  background: url("../../img/cat-icon-pro.svg") no-repeat center;
}
@media (min-width: 768px) {
  .program--pro::after {
    top: 190px;
    left: unset;
    right: 163px;
  }
}
@media (min-width: 1220px) {
  .program--pro::after {
    top: 91px;
    left: 102px;
    right: unset;
  }
}

.program__title {
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .program__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1220px) {
  .program__title {
    padding-left: 160px;
    margin-bottom: 73px;
  }
}

.program__desription {
  margin: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .program__desription {
    margin-bottom: 48px;
  }
}
@media (min-width: 1220px) {
  .program__desription {
    margin-bottom: 23px;
  }
}

.program__to-catalog-link {
  display: block;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program__to-catalog-link {
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }
}
.program__to-catalog-link::after {
  display: inline-block;
  content: "";
  width: 32px;
  height: 14px;
  margin-left: 15px;
  background: url("../../img/program-arrow.svg") no-repeat -8px/contain;
}
@media (min-width: 768px) {
  .program__to-catalog-link::after {
    height: 18px;
    margin-left: 25px;
  }
}
.program__to-catalog-link:hover::after {
  background: url("../../img/program-arrow.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .program__to-catalog-link:hover::after {
    height: 18px;
    margin-left: 25px;
  }
}
.program__to-catalog-link:active {
  opacity: 0.3;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.title__link {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

.title--accented-group {
  position: relative;
}
@media (max-width: 389px) {
  .title--accented-group--kludge {
    display: block;
    width: min-content;
  }
}
.title--accented-group::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  box-shadow: 20px 0 #ffffff, -38px 0 #ffffff;
}
@media (min-width: 768px) {
  .title--accented-group::before {
    box-shadow: 40px 0 #ffffff, -40px 0 #ffffff;
  }
}

.infographics {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 110px;
  gap: 20px;
  background-color: inherit;
}
@media (min-width: 768px) {
  .infographics {
    max-width: 100%;
    justify-content: unset;
    gap: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1220px) {
  .infographics {
    max-width: 366px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 152px;
    gap: 20px;
    background-color: #f2f2f2;
  }
}

.infographics__item {
  position: relative;
  display: flex;
  margin: auto;
}
@media (min-width: 768px) {
  .infographics__item {
    display: inline;
    text-align: right;
    margin: auto 0 auto auto;
  }
}
@media (min-width: 1220px) {
  .infographics__item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
.infographics__item--decoration {
  box-sizing: border-box;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  background-color: inherit;
  margin: 0;
}
@media (min-width: 768px) {
  .infographics__item--decoration {
    margin-right: 42px;
    width: 162px;
    height: 72px;
  }
}
@media (min-width: 1220px) {
  .infographics__item--decoration {
    width: 162px;
    height: 72px;
    margin: 0;
  }
}

.infographics__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .infographics__definition {
    font-size: 20px;
    line-height: 29px;
  }
}
.infographics__definition--decoration {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  position: absolute;
  background-color: inherit;
  padding-left: 9px;
  padding-right: 9px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .infographics__definition--decoration {
    width: max-content;
    bottom: -6px;
    font-size: 14px;
    line-height: 14px;
  }
}

.infographics__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  white-space: pre;
  margin: 0;
}
@media (min-width: 768px) {
  .infographics__value {
    font-size: 20px;
    line-height: 29px;
  }
}
.infographics__value--decoration {
  font-size: 24px;
  line-height: 24px;
  margin: auto;
}
@media (min-width: 768px) {
  .infographics__value--decoration {
    font-size: 30px;
    line-height: 37px;
  }
}

.invitation {
  box-sizing: border-box;
  display: flex;
  gap: 2px;
}
@media (min-width: 768px) {
  .invitation {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    gap: 0;
  }
}
@media (min-width: 1220px) {
  .invitation {
    justify-content: space-between;
    align-content: center;
    gap: 0;
    background-color: #ffffff;
  }
}

.invitation--background {
  background-color: #f2f2f2;
}
@media (min-width: 1220px) {
  .invitation--background {
    background-color: #ffffff;
  }
}

.invitation__text {
  display: block;
  line-height: 20px;
  padding-right: 30px;
  width: min-content;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .invitation__text {
    width: min-content;
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .invitation__address {
    width: min-content;
    text-align: right;
    font-size: 16px;
  }
}
@media (min-width: 1220px) {
  .invitation__address {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}

.section-address {
  position: relative;
  background-color: #f2f2f2;
}
.section-address--alternate-background {
  background-color: #ffffff;
}
@media (min-width: 1220px) {
  .section-address {
    background-color: transparent;
  }
}

.section-address__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .section-address__map {
    height: 400px;
  }
}

@media (min-width: 1220px) {
  .section-address__invitation {
    padding: 59px 80px;
  }
}

.fieldset {
  box-sizing: border-box;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}
.fieldset--accented::before {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  top: 14px;
  left: 30%;
  right: 0;
  background-color: #68b738;
  z-index: -2;
}
@media (min-width: 768px) {
  .fieldset--accented::before {
    top: 21px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .fieldset--decorated {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
  }
}
.fieldset--submit {
  box-sizing: border-box;
  padding: 0 20px 32px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
}
@media (min-width: 768px) {
  .fieldset--submit {
    box-sizing: border-box;
    padding: 0 67px 76px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1220px) {
  .fieldset--submit {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
.fieldset--grouped {
  padding: 0;
  flex-grow: 1;
}

.fieldset__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 767px) {
  .fieldset__content--registration {
    box-sizing: border-box;
    padding: 0 20px 25px 20px;
    min-width: 280px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .fieldset__content--registration {
    gap: 20px;
  }
}
.fieldset__content--contacts {
  box-sizing: border-box;
  padding: 0 20px 25px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .fieldset__content--contacts {
    gap: 20px;
    box-sizing: border-box;
    padding: 0 67px 76px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .fieldset__content--contacts {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 80px;
  }
}
.fieldset__content--comments {
  box-sizing: border-box;
  padding: 0 20px 25px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .fieldset__content--comments {
    box-sizing: border-box;
    padding: 0 67px 76px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .fieldset__content--comments {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fieldset__input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
}

.fieldset__label {
  cursor: pointer;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: max-content;
}
@media (min-width: 768px) {
  .fieldset__label {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
.fieldset__label--radio, .fieldset__label--checkbox {
  display: flex;
  position: relative;
  align-items: center;
}
.fieldset__label--radio::before, .fieldset__label--checkbox::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .fieldset__label--radio::before, .fieldset__label--checkbox::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.fieldset__label--radio::before {
  border-radius: 50%;
}
.fieldset__label--radio:hover::before, .fieldset__label--checkbox:hover::before {
  border-color: #bababa;
}

.fieldset__input {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .fieldset__input {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
  }
}
.fieldset__input--textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  padding-top: 9px;
  padding-right: 14px;
  padding-left: 14px;
  height: 150px;
}
.fieldset__input:hover {
  border-color: #bababa;
}
.fieldset__input:active, .fieldset__input:focus {
  outline: 2px solid #444444;
  outline-offset: -2px;
}
.fieldset__input--error {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}

.fieldset__input-icon {
  position: absolute;
  right: 17px;
  color: #222222;
}

.fieldset__input--error + .fieldset__input-icon {
  color: #ff8282;
}

.fieldset__input-container:focus-within .fieldset__input-icon {
  color: #68b738;
}

.fieldset__radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .fieldset__radio-list {
    box-sizing: border-box;
    padding: 22px 20px 19px 20px;
    min-width: 280px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .fieldset__radio-list {
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    padding: 25px 30px;
  }
}
@media (min-width: 1220px) {
  .fieldset__radio-list {
    border: 1px solid #e7e7e7;
    padding-left: 28px;
    padding-right: 28px;
    height: 100%;
  }
}

.fieldset__radio-list-item + .fieldset__radio-list-item {
  padding-top: 13px;
}

.fieldset__checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  padding: 0 20px 25px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media (min-width: 768px) {
  .fieldset__checkbox-list {
    box-sizing: border-box;
    padding: 0 67px 76px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }
}
@media (min-width: 768px) {
  .fieldset__checkbox-list {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }
}
@media (min-width: 1220px) {
  .fieldset__checkbox-list {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }
}

.fieldset__radio,
.fieldset__checkbox {
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
}

.fieldset__radio:checked + .fieldset__label::after,
.fieldset__checkbox:checked + .fieldset__label::after {
  position: absolute;
  display: inline-block;
  content: "";
  transform: translate(-50%, -50%);
  top: 15px;
  left: 15px;
}
@media (min-width: 768px) {
  .fieldset__radio:checked + .fieldset__label::after,
.fieldset__checkbox:checked + .fieldset__label::after {
    top: 20px;
    left: 20px;
  }
}

.fieldset__radio:checked + .fieldset__label::after {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .fieldset__radio:checked + .fieldset__label::after {
    width: 18px;
    height: 18px;
  }
}

.fieldset__checkbox:checked + .fieldset__label::after {
  width: 18px;
  height: 14px;
  background: url("../../img/check-sign.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .fieldset__checkbox:checked + .fieldset__label::after {
    width: 24px;
    height: 19px;
  }
}

.fieldset__radio:disabled + .fieldset__label,
.fieldset__checkbox:disabled + .fieldset__label {
  opacity: 0.3;
  pointer-events: none;
}

.fieldset__radio:disabled + .fieldset__label::before,
.fieldset__checkbox:disabled + .fieldset__label::before {
  border-color: #bababa;
}

.fieldset__radio-list-item:focus-within .fieldset__label::before,
.fieldset__checkbox-list-item:focus-within .fieldset__label::before {
  outline: 2px solid #444444;
}

.fieldset__legend {
  box-sizing: border-box;
  padding: 0 20px 35px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .fieldset__legend {
    box-sizing: border-box;
    padding: 0 67px 76px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .fieldset__legend {
    box-sizing: border-box;
    padding: 0 50px 70px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fieldset__legend-styling {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}
@media (max-width: 389px) {
  .fieldset__legend-styling--kludge {
    display: block;
    width: min-content;
  }
}
@media (min-width: 768px) {
  .fieldset__legend-styling {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
  }
}
.fieldset__legend-styling::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  box-shadow: 20px 0 #ffffff, -38px 0 #ffffff;
}
@media (min-width: 768px) {
  .fieldset__legend-styling::before {
    box-shadow: 40px 0 #ffffff, -40px 0 #ffffff;
  }
}

.fieldset__submit-button {
  font-size: 14px;
  line-height: 26px;
  padding: 7px;
}
@media (min-width: 768px) {
  .fieldset__submit-button {
    font-size: 20px;
    padding: 13px;
  }
}
@media (min-width: 1220px) {
  .fieldset__submit-button {
    font-size: 20px;
    padding: 13px;
  }
}

.fieldset__required-comment-text {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .selection-form__fieldsets-grouped {
    box-sizing: border-box;
    padding: 0 67px 76px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}
@media (min-width: 1220px) {
  .selection-form__fieldsets-grouped {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.selection-form__fieldset {
  width: 100%;
}

.selection-form__content-group {
  box-sizing: border-box;
}
@media (min-width: 1220px) {
  .selection-form__content-group {
    width: 100%;
    padding: 0 110px 60px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.section-selection-form {
  padding-top: 27px;
}

.section-selection-form__header {
  box-sizing: border-box;
  padding: 0 20px 39px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .section-selection-form__header {
    box-sizing: border-box;
    padding: 0 67px 66px 71px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .section-selection-form__header {
    box-sizing: border-box;
    padding: 0 50px 66px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-selection-form__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .section-selection-form__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    margin-bottom: 55px;
  }
}

.section-selection-form__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-selection-form__description {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 60%;
  }
}
@media (min-width: 1220px) {
  .section-selection-form__description {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 30%;
  }
}

@media (min-width: 768px) {
  .catalog-main-goods__cards-wrapper {
    padding: 30px 30px;
  }
}

.catalog-optional-goods-and-promos {
  position: relative;
}
.catalog-optional-goods-and-promos__title {
  box-sizing: border-box;
  padding: 0 20px 36px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-optional-goods-and-promos__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0 30px 80px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .catalog-optional-goods-and-promos__title {
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1220px) {
  .catalog-optional-goods-and-promos__group {
    box-sizing: border-box;
    padding: 0 50px 86px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "goods goods goods promos";
    gap: 80px;
  }
}

.catalog-optional-goods-and-promos__optional-goods {
  box-sizing: border-box;
  padding-top: 0;
}
@media (min-width: 1220px) {
  .catalog-optional-goods-and-promos__optional-goods {
    padding: 0;
    grid-area: goods;
  }
}

.catalog-optional-goods-and-promos__promotion {
  min-width: unset;
  padding: 0;
}

.cards-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .cards-wrapper {
    border-top: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: end;
  }
}
@media (min-width: 1220px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .cards-wrapper--optional-goods {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-top: 1px solid #cdcdcd;
  }
}

@media (max-width: 767px) {
  .cards-wrapper__product-card {
    border-bottom: 1px solid #d9d9d9;
  }
}

.optional-goods__cards-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  padding: 0 20px 25px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .optional-goods__cards-wrapper {
    box-sizing: border-box;
    padding: 0 30px 76px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .optional-goods__cards-wrapper {
    padding: 0;
  }
}

.catalog {
  padding-top: 27px;
}
.catalog__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .catalog__title {
    box-sizing: border-box;
    padding: 0 20px 41px 20px;
    min-width: 280px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .catalog__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0 30px 82px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .catalog__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    box-sizing: border-box;
    padding: 0 50px 60px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__catalog-main-goods {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__catalog-main-goods {
    box-sizing: border-box;
    padding: 0 30px 76px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: unset;
  }
}
@media (min-width: 1220px) {
  .catalog__catalog-main-goods {
    box-sizing: border-box;
    padding: 0 50px 68px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.description-table__item {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .description-table__item + .description-table__item {
    padding-top: 7px;
  }
}
@media (min-width: 768px) {
  .description-table__item {
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.description-table__item--optional-goods {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .description-table__item--optional-goods {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 88px;
    justify-items: end;
  }
}
@media (min-width: 1220px) {
  .description-table__item--optional-goods {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
    display: flex;
    grid: none;
  }
}

.description-table__description,
.description-table__value {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}
@media (min-width: 768px) {
  .description-table__description,
.description-table__value {
    font-size: 16px;
  }
}

.product-card {
  position: relative;
  box-sizing: border-box;
  min-height: 205px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55px 1fr auto;
  grid-template-areas: "img title" "img description" "btn btn";
}
@media (max-width: 767px) {
  .product-card {
    box-sizing: border-box;
    padding: 20px 20px 25px 20px;
    min-width: 280px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .product-card {
    box-sizing: border-box;
    min-height: 511px;
    width: 100%;
    padding: 0 39px 39px 39px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 240px 68px auto 40px;
    grid-template-areas: "img" "title" "description" "btn";
    background: linear-gradient(to top, #f2f2f2 430px, #ffffff 430px);
  }
}
.product-card--functional {
  min-height: 208px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 62px 30px auto 40px;
  grid-template-areas: "img" "title" "description" "btn";
}
@media (min-width: 768px) {
  .product-card--functional {
    min-height: 430px;
    background: none;
    border: 1px solid #f2f2f2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 68px auto 40px;
    grid-template-areas: "img" "title" "description" "btn";
  }
}
.product-card--functional::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  background-color: #d3d3d3;
  top: 25px;
  left: calc(50% - 1px);
}
@media (min-width: 768px) {
  .product-card--functional::before {
    height: 60px;
    top: 51px;
  }
}
.product-card--functional::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  background-color: #d3d3d3;
  top: 25px;
  left: calc(50% - 1px);
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .product-card--functional::after {
    height: 60px;
    top: 51px;
  }
}
.product-card--optional-goods {
  display: block;
  grid: none;
  box-sizing: border-box;
  min-width: 240px;
  min-height: unset;
  padding: 12px 0 18px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .product-card--optional-goods {
    padding: 26px 30px 28px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    border: 1px solid #cdcdcd;
    border-top: none;
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 39px;
    grid-template-areas: "title description" "btn btn";
    row-gap: 25px;
    align-items: end;
  }
}
@media (min-width: 1220px) {
  .product-card--optional-goods {
    padding: 15px 0;
    min-height: -moz-fit-content;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 284px 1fr 244px;
    grid-template-rows: none;
    grid-template-areas: "title description btn";
    gap: 40px;
    align-items: baseline;
    border-left: none;
    border-right: none;
  }
}
.product-card--optional-goods:first-child {
  border-top: 1px solid #d9d9d9;
}

.product-card__title {
  grid-area: title;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.product-card__title--functional {
  text-align: center;
}
.product-card__title--optional-goods {
  line-height: 16px;
  margin-bottom: 13px;
  text-align: left;
}
@media (min-width: 768px) {
  .product-card__title--optional-goods {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1219px) {
  .product-card__title-br {
    display: none;
  }
}

.product-card__description-table {
  grid-area: description;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card__image-wraper {
  display: inline;
  position: relative;
  grid-area: img;
}

.product-card__img {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
@media (min-resolution: 2dppx) {
  .product-card__img {
    transform: translate(-50%, -50%) scale(50%);
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card__img {
    transform: translate(-50%, -50%) scale(50%);
  }
}
@media (min-width: 768px) {
  .product-card__img--tilted {
    top: calc(50% - 12px);
  }
}

.product-card__button {
  grid-area: btn;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-card__description {
  margin: 0;
  grid-area: description;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .product-card__description {
    margin: 0 50px 0 50px;
  }
}
@media (min-width: 1220px) {
  .product-card__description {
    margin: 0 10px 0 10px;
  }
}

.promotion-card {
  min-height: 290px;
  padding: 65px 60px 45px 60px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/cat-case-mobile.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-resolution: 2dppx) {
  .promotion-card {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/cat-case-mobile@2x.jpg") center/cover;
  }
}
@media (min-width: 768px) {
  .promotion-card {
    min-height: 200px;
    padding: 20px 124px 20px 77px;
    flex-direction: row;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/cat-case-tablet.jpg") center/cover;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .promotion-card {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/cat-case-tablet@2x.jpg") center/cover;
  }
}
@media (min-width: 1220px) {
  .promotion-card {
    height: 100%;
    padding: 62px 30px 42px 30px;
    flex-direction: column;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/cat-case-xl.jpg") center/cover;
  }
}
@media (min-width: 1220px) and (min-resolution: 2dppx) {
  .promotion-card {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/cat-case-xl@2x.jpg") center/cover;
  }
}
.promotion-card::before {
  content: "";
  width: 78px;
  height: 80px;
  background: url("../../../img/icon-gift.svg") no-repeat center/97.5%;
}
@media (min-width: 768px) {
  .promotion-card::before {
    width: 80px;
    height: 83px;
    background: url("../../../img/icon-gift.svg") no-repeat center/100%;
  }
}

.promotion-card__description {
  margin: 0;
  margin-top: auto;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .promotion-card__description {
    width: 180px;
    text-align: left;
  }
}
@media (min-width: 1220px) {
  .promotion-card__description {
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
}

.promotion__promotion-card {
  box-sizing: border-box;
  padding: 0 20px 25px 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media (min-width: 768px) {
  .promotion__promotion-card {
    box-sizing: border-box;
    padding: 0 30px 76px 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .promotion__promotion-card {
    min-width: unset;
    padding: 0;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */