@use "../../variables.scss" as var;

.compare-slider {
  --knob-position-limit: clamp(20px, var(--knob-position), 100% - 20px);
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--knob-position) 1fr;
}

.compare-slider__control-knob-group {
  appearance: none;
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  // color: var.$control-knob;
  // border: none;
  // border-radius: 2px;
  // transform: translateX(-50%);
  // margin-left: var(--knob-position-limit);
  // z-index: 2;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 256px;
    width: 40px;
    background: url("../img/sprite.svg#control-knob-256") center;
    border: 0 solid #000000;
    border-radius: 50px;
    transition: 0.25s;
  }

  &::-webkit-slider-thumb:hover {
    background: url("../img/sprite.svg#control-knob-256-hover") center;
  }

  &::-webkit-slider-thumb:active {
    background: url("../img/sprite.svg#control-knob-256-active") center;
  }

  // &:hover {
  //   background-color: var.$brand-color;
  //   color: var.$brand-color;
  // }

  // &:active {
  //   background-color: var.$control-knob-active;
  //   color: var.$control-knob-active;
  // }
}

.compare-slider__control-knob {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  top: 50%;
  color: inherit;

  // &:hover {
  //   color: var.$brand-color;
  // }

  // &:active {
  //   color: var.$control-knob-active;
  // }
}

.compare-slider::before {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  content: "";
  width: 100%;
  height: auto;
  background: url("../img/cat-before-mobile@1x.png") no-repeat left / auto 100%;

  @media (min-resolution: 2dppx) {
    background: url("../img/cat-before-mobile@2x.png") no-repeat left / auto 100%;
  }

  @media (min-width: var.$tablet-width) {
    background: url("../img/cat-before-tablet@1x.png") no-repeat left / auto 100%;
  }

  @media (min-width: var.$tablet-width) and (min-resolution: 2dppx) {
    background: url("../img/cat-before-tablet@2x.png") no-repeat left / auto 100%;
  }
}

.compare-slider::after {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  content: "";
  width: 100%;
  height: auto;
  background: image-set(
    url("../img/cat-after-mobile.png") 1x,
    url("../img/cat-after-mobile@2x.png") 2x) no-repeat right / auto 100%;

  // @media (min-resolution: 2dppx) {
  //   background: no-repeat right / auto 100%;
  // }

  @media (min-width: var.$tablet-width) {
    background: url("../img/cat-after-xl.png") no-repeat right / auto 100%;
  }

  @media (min-width: var.$tablet-width) and (min-resolution: 2dppx) {
    background: url("../img/cat-after-xl@2x.png") no-repeat right / auto 100%;
  }

  @media (min-width: var.$tablet-width) and (min-resolution: 2dppx) {
    background: url("../img/cat-after-xl@2x.webp") no-repeat right / auto 100%;
  }
}
