@use "../../variables.scss" as var;

.compare-slider {
  --knob-position-limit: clamp(20px, var(--knob-position), 100% - 20px);
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--knob-position) 1fr;
}

.compare-slider__control-knob-group {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 0;
  width: 4px;
  height: 100%;
  background-color: var.$control-knob;
  color: var.$control-knob;
  border: none;
  border-radius: 2px;
  transform: translateX(-50%);
  margin-left: var(--knob-position-limit);
  z-index: 2;

  &:hover {
    background-color: var.$brand-color;
    color: var.$brand-color;
  }

  &:active {
    background-color: var.$control-knob-active;
    color: var.$control-knob-active;
  }
}

.compare-slider__control-knob {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  top: 50%;
  color: inherit;

  &:hover {
    color: var.$brand-color;
  }

  &:active {
    color: var.$control-knob-active;
  }
}

.compare-slider::before {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  content: "";
  width: 100%;
  height: auto;
  background: url("/img/cat-before_mobile.png") no-repeat left / auto 100%;

  @media (min-resolution: 2dppx) {
    background: url("/img/cat-before-mobile@2x.png") no-repeat left / auto 100%;
  }

  @media (min-width: var.$tablet-width) {
    background: url("/img/cat-before-xl.png") no-repeat left / auto 100%;
  }

  @media (min-width: var.$tablet-width) and (min-resolution: 2dppx) {
    background: url("/img/cat-before-xl@2x.png") no-repeat left / auto 100%;
  }
}

.compare-slider::after {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  content: "";
  width: 100%;
  height: auto;
  background: url("/img/cat-after-mobile.png") no-repeat right / auto 100%;

  @media (min-resolution: 2dppx) {
    background: url("/img/cat-after-mobile@2x.png") no-repeat right / auto 100%;
  }

  @media (min-width: var.$tablet-width) {
    background: url("/img/cat-after-xl.png") no-repeat right / auto 100%;
  }

  @media (min-width: var.$tablet-width) and (min-resolution: 2dppx) {
    background: url("/img/cat-after-xl@2x.png") no-repeat right / auto 100%;
  }
}
