@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin accented-text($size, $line-height, $text-case) {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
  text-transform: $text-case;
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin cup-mobile ($bottom: 25px, $top: 0) {
  box-sizing: border-box;
  padding: $top 20px $bottom 20px;
  min-width: 280px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

@mixin cup-tablet ($bottom: 76px, $top: 0) {
  box-sizing: border-box;
  padding: $top 30px $bottom 30px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@mixin cup-tablet--form ($bottom: 76px, $top: 0) {
  box-sizing: border-box;
  padding: $top 67px $bottom 71px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@mixin cup-desktop ($bottom: 60px, $top: 0) {
  box-sizing: border-box;
  padding: $top 50px $bottom;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
