// Colors

$brand-color: #68b738;
$brand-color-85: rgba(104, 183, 56, 0.85);
$brand-background: #f2f2f2;
$white: #ffffff;
$text-common: #000000;
$text-special: #444444;
$text-invert: #ffffff;
$decoration: #e6e6e6;
$input-border: #e7e7e7;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
