// Colors

$brand-color: #68b738;
$brand-color-darkened: #5eaa2f;
$brand-color-85: rgba($brand-color, 0.85);
$brand-background: #f2f2f2;
$brand-background-darkened: #ebebeb;
$white: #ffffff;
$text-common: #000000;
$text-special: #444444;
$text-invert: #ffffff;
$decoration: #e6e6e6;
$input-border: #e7e7e7;
$input-border-hover: #bababa;
$input-border-focus: #444444;
$input-icon-stroke: #222222;
$error: #ff8282;
$header-border: #d9d9d9;
$control-knob: #666666;
$control-knob-active: lighten($brand-color, 20%);

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1220px;
