@use "../../variables.scss" as var;

.promotion-card__content {
  display: block;
  padding: 187px 60px 43px 60px;
  background-color: var.$brand-color;
}

.promotion-card__description {
  color: var.$text-invert;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
