@use "../../variables.scss" as var;

.promotion-card__content {
  display: block;
  padding: 200px 60px 45px 60px;
  background-color: var.$brand-color;

  @media (min-width: var.$tablet-width) {
    padding: 70px 154px 70px 420px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 184px 40px 42px;
  }
}

.promotion-card__description {
  color: var.$text-invert;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: var.$tablet-width) {
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    text-align: center;
  }
}
