@use "../../variables.scss" as var;

.promotion-card {
  min-height: 290px;
  padding: 65px 60px 45px 60px;
  background-color: var.$brand-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: var.$tablet-width) {
    min-height: 200px;
    padding: 20px 124px 20px 77px;
    flex-direction: row;
  }

  @media (min-width: var.$desktop-width) {
    height: 100%;
    padding: 62px 30px 42px 30px;
    flex-direction: column;
  }

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-color: var.$white;
  }
}

// .promotion-card__content {
//   height: 100%;

//   @media (min-width: var.$tablet-width) {
//     margin-bottom: auto;
//   }

//   @media (min-width: var.$desktop-width) {
//     padding: 184px 50px 42px;
//   }
// }

.promotion-card__description {
  margin: 0;
  margin-top: auto;
  color: var.$text-invert;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: var.$tablet-width) {
    width: 180px;
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    width: fit-content;
    text-align: center;
  }
}
